cycler==0.10.0
interval==1.0.0
lazyarray==0.2.8
matplotlib==1.5.1
mpi4py==2.0.0
neo==0.3.3
NeuroTools==0.3.1
numpy==1.11.0
PyNN==0.8.1
pyparsing==2.1.5
python-dateutil==2.5.3
pytz==2016.4
scipy==0.17.1
six==1.10.0
